{% extends 'base.html' %}
{% block content %}
<script type="text/javascript">
	function validation() {
	var name=document.getElementById("contact_name");
	var username=document.getElementById("username");
	var remark=document.getElementById("remark");

	if(name.value.length==0) {
		alert("enter contact name");
		name.focus();
		return false;
		}
	else if(username.value.length == 0) {
		alert("enter username");
		username.focus();
		return false;
		}
	else if(remark.value.length == 0){
		alert("enter remark");
		remark.focus();
		return false;
		}
	else {
		return true;
	}
}
</script>

<script src="/static/jquery.min.js"></script>

<script>		$(document).ready(function() {

			$("#username").change(function() { 
				username=$("#username").val();

				$.ajax({
					url:"{% url 'checkusername' %}",
					data:{'username':username},
					success:function(data) {
						if (data.check == 'not exist') {
							alert("username does not exist exist");

							$('#username').val('');
						}
					}
				});
			});

		});
</script>


<!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>add to blacklistt</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= registert Section ======= -->
   

    <section id="contact" class="contact">
      <div class="container">

        <div class="row justify-content-center" data-aos="fade-up">

          <div class="col-lg-10">

            
          </div>

        </div>

        <div class="row mt-5 justify-content-center" data-aos="fade-up">
          <div class="col-lg-10">
            <form method="post" action="{% url 'blacklistAction' %}" class="php-email-form">
	{% csrf_token %}
		
              
                <div class="form-group mt-3">
		<label> contact name</label>
                  <input type="text" name="contact_name" class="form-control" id="contact_name" placeholder="contact name" required>
                </div>
		<div class="form-group mt-3">
		<label> username</label>
                  <input type="text" name="username" class="form-control" id="username" placeholder="username" required>
                </div>
		<div class="form-group mt-3">
		<label> remarks</label>
                  <input type="text" name="remark" class="form-control" id="remark" placeholder="remark" required>
                </div>
		
              <div class="text-center"><button type="submit" onclick="return validation()">add to blacklist</button></div>
</div>
            </form>
</section>			
{% endblock %}





	

<body>
<form method="post" action="{% url 'blacklistAction' %}">
{% csrf_token %}
	<table>
		<tr>
			<td>contact name</td><td><input type="text" name="contact_name" id="contact_name"/></td>
		</tr>
		<tr>
			<td>user name</td><td><input type="text" name="username" id="username"/></td>
		</tr>
	
	<tr>
		<td>remarks</td><td><input type="text" name="remark" id="remark">
	</tr>
		<tr>
			<td></td><td></td><td><input type="submit" value="submit" onclick="return validation()"/></td>
		</tr>
	</table>
</form>
</body>
