{% extends 'base.html' %}
{% block content %}
<script type="text/javascript">
	function validation() {
		
		
	
		var password1=document.getElementById("password1");
		var password2=document.getElementById("password2");
		
		
		 if(password1.value.length==0)
		 {
alert("qwe");
			alert("please enter your  password");
			password.focus();
			return false;
	}
		
		 if(password2.value.length==0)
		 {

			alert("please repeat password");
			password2.focus();
			return false;
		
		else if(password1.value != password2.value)
			{
			alert("password doesnot match");
			return false;
		}
		else 
		{
			return true;
		}
}
</script>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>REGISTER</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
   
<input type="hidden" name="username" value="{{username}}"/>
    <section id="contact" class="contact">
      <div class="container">

        <div class="row justify-content-center" data-aos="fade-up">

          <div class="col-lg-10">

            
          </div>

        </div>

        <div class="row mt-5 justify-content-center" data-aos="fade-up">
          <div class="col-lg-10">
            <form method="post" action="{% url 'reset' v.id %}" class="php-email-form">
	{% csrf_token %}
		
              
                <div class="form-group mt-3">
		<label>enter new password</label>
                  <input type="password" name="password1" class="form-control" id="password1" placeholder="password" required>
                </div>

		<div class="form-group mt-3">
		<label>confirm password</label>
                  <input type="password" name="password2" class="form-control" id="password2" placeholder="retype password" required>
                </div>
		
		<div class="text-center"><button type="submit" onclick="return validation()">change password</button></div>
            </form>
</section>	


{% endblock %}
<head><h2> choose password</h2>
{% for v in data %}
<form method="post" action="{% url 'reset' v.id %}">
{% csrf_token %}
<body>
<table>
<input type="hidden" name="username" value="{{username}}"/>


<tr><td>enter new password</td><td><input type="password" name="password1"/></td></tr>
<tr><td>confirm password</td><td><input type="password" name="password2"/></td></tr>
<tr><td></td><td><input type="submit" name="reset" value="change password" onclick="return validation()"/>
<table>
</body>
{% endfor %}
{% endblock %}