{% extends 'base.html' %}
{% block content %}
<script type="text/javascript">
	function validation() {
	var name=document.getElementById("name");
	var phone=document.getElementById("phone");
	var dob=document.getElementById("dob");
	var username=document.getElementById("username");
	if(name.value.length == 0) {
		alert("enter  name");
		name.focus();
		return false;
		}
	else if(phone.value.length == 0) {
		alert("enter phone number");
		phone.focus();
		return false;
		}
	else if(dob.value.length == 0){
		alert("select date of birth");
		dob.focus();
		return false;
		}
	if(username.value.length == 0) {
		alert("enter  username");
		username.focus();
		return false;
		}
	else {
		return true;
	}
}
</script>


<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>forgot password</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= registert Section ======= -->
   

    <section id="register" class="contact">
      <div class="container">

        <div class="row justify-content-center" data-aos="fade-up">

          <div class="col-lg-10">

            
          </div>

        </div>

        <div class="row mt-5 justify-content-center" data-aos="fade-up">
          <div class="col-lg-10">
            <form method="post"  action="{% url 'checkAction' %}" class="php-email-form">
	{% csrf_token %}
		
              
                <div class="form-group mt-3">
		<label>name</label>
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
		<div class="form-group mt-3">
		<label> DATE OF BIRTH </label>
                  <input type="date" name="dob" class="form-control" id="dob" placeholder="select date of birth" required>
                </div>
		<div class="form-group mt-3">
		<label> PHONE NUMBER</label>
                  <input type="text" name="phone" class="form-control" id="phone" placeholder="phone number" required>
                </div>
		<div class="form-group mt-3">
		<label>USERNAME</label>
                  <input type="text" name="username" class="form-control" id="username" placeholder="username" required>
                </div>
		 
              <div class="text-center"><button type="submit">continue</button></div>
            </form>
</section>
{% endblock %}

<head><h2>did you forget your password?</h2>
<body>
<form method="post" action="{% url 'checkAction' %}">
{% csrf_token %}
<table>
<tr><td>name</td><td><input type="text" name="name" id="name"</td></tr>
<tr><td>phone</td><td><input type="text" name="phone" id="phone"</td></tr>
<tr><td>dob</td><td><input type="date" name="dob" id="dob"</td></tr>
<tr><td>username</td><td><input type="text" name="username" id="username"</td></tr>
<tr><td></td><td></td><td><input type="submit" value="continue" onclick="return validation()"></td></tr>
</table>
</form>
</body>
