<html>


<head><h2>OUTBOX</h2></head>

<body>
<table>
	
	{% for v in data %}
	
	<tr><td> to </td><td>{{v.destination}}</td></tr>
	<tr><td> date</td><td>{{v.date}}</td></tr>
	<tr><td>time</td><td>{{v.time}}</td></tr>
	<tr><td>Subject</td><td>{{v.subject}}</td></tr>
	<tr><td>message</td><td>{{v.message}}</td></tr>
	<tr><td><a href={% url 'deletemessage' v.id 1 %}>delete msg</a></td></tr>
	
	<tr><td>......................</td><td>............................</td></tr>

	{% endfor %}
</table>
</body>

</html>