{% extends 'base.html' %}
{% block content %}
<script type="text/javascript">
	function validation() {
		
		
		var password=document.getElementById("password");
		var password1=document.getElementById("password1");
		var password2=document.getElementById("password2");
		
		
		 if(password.value.length==0)
		 {

			alert("please enter your old password");
			password.focus();
			return false;
	}
		 else if(password1.value.length==0)
		 {
			alert("please enter  password");
			password1.focus();
			return false;
	}
		else if(password1.value != password2.value)
			{
			alert("password doesnot match");
			return false;
		}
		else 
		{
			return true;
		}
}
</script>



<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>reset password</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= registert Section ======= -->
   

    <section id="register" class="contact">
      <div class="container">

        <div class="row justify-content-center" data-aos="fade-up">

          <div class="col-lg-10">

            
          </div>

        </div>

        <div class="row mt-5 justify-content-center" data-aos="fade-up">
          <div class="col-lg-10">
            <form method="post"  action="{% url 'reset' %}" class="php-email-form">
	{% csrf_token %}
		
              
                <div class="form-group mt-3">
		<label>name</label>
                  <input type="password" name="password" class="form-control" id="password" placeholder="Your old password" required>
                </div>
		<div class="form-group mt-3">
		<label> DATE OF BIRTH </label>
                  <input type="password" name="password1" class="form-control" id="password1" placeholder="new password" required>
                </div>
		<div class="form-group mt-3">
		<label> PHONE NUMBER</label>
                  <input type="password" name="password2" class="form-control" id="password2" placeholder="confirm password" required>
                </div>
		<div class="my-3">
		</div>
		<div class="text-center"><button type="submit" onclick="return validation()">change password</button></div>
            </form>
</div>
</div>
</div>
</section>
</main>	
<script>
	{% if messages %}
		{% for i in messages %}
			alert('{{i}}');
		{% endfor %}
	{% endif %}
</script>
		
{% endblock %}

